body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.first-container,
.footer {
  background-color: #1F2937;
  color: white;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 16px;
}

a,
.sect1-text {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.left, .right {
  display: flex;
  align-items: center;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.first-container,
.second-container,
.third-container {
  flex: 0 0 100%;
  height: 400px;
}

.first-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.second-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.fourth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  height: 300px;
}

.sect1-info {
  width: 480px;
  border-radius: 10px;
  gap: 16px;
  padding: 16px;
}

.sect1-h1 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 8px;
}

.sect1-text {
  margin-bottom: 16px;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
}

button.sign-up {
  background: #3882F6;
  border: 1px solid #3882F6;
  color: white;
}

.sect1-image {
  max-width: 525px;
  height: auto;
  border-radius: 8px;
}

.random-container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.s2-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.s2-image {
  max-width: 80%;
  max-height: auto;
}

.box-info {
  max-width: 250px;
  text-align: center;
}
.s2-text {
  color: #4b5563;
}

.quote-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.s3-quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
}

.s3-strong {
  color: #1f2937;
  display: flex;
  flex-direction: row-reverse;
  font-size: 18px;
  font-weight: 500;
}

.footer {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}